[common]
AgentID=111111
ApplicationName=pinpoint

CollectorSpanIp=127.0.0.1
CollectorSpanPort=29993

CollectorStatIp=127.0.0.1
CollectorStatPort=29994

CollectorTcpIp=127.0.0.1
CollectorTcpPort=29995

TraceLimit = 0
SkipTraceTime = -1
# DEBUG|INFO|WARNING|ERROR|STDERR
PPLogLevel = DEBUG
LogFileRootPath = /tmp/
# AgentType -> NGINX | APACHE |PHP |TEST
AgentType="NGINX"

# plugin
# PhpInternalFunctionsPlugin
PluginExclude = ExcludePlugin
PluginInclude = PhpRequestPlugin;  CurlPlugin;QuickStartPlugin  ; PhpInternalFunctionsPlugin ;ExcludePlugin


[NGINX]

[APACHE]

[PHP]
PluginEntryFile=plugins_create.php
PluginRootDir=/home/chenguoxi/05_work/pinpoint_c_agent/pinpoint_c_agent/quickstart/php/web/plugins/

[TEST]
uint64 = 1232132112
uint32 = 213
uint64_404 =