/.vscode
/.idea
*.o
thirdparty/var
*.result
*.a
test/pinpoint_unittest
simulate/collector/test_checker
simulate/collector/test_collector
pinpoint_common/thrift/gen-cpp
simulate/tmp/
simulate/log/
simulate/shell/*.html
*.pyc
.autotools
.cproject
.project
.settings/
CI/
*.txt
