[submodule "thirdparty/boost"]
	path = thirdparty/boost
	url = https://github.com/boostorg/boost.git
[submodule "thirdparty/thrift"]
	path = thirdparty/thrift
	url = https://github.com/apache/thrift.git
