include *.txt README.md NOTICE LICENSE  MANIFEST.in
recursive-include common *.cmake *.h *.txt *.in *.cc *.c *.cpp *.h *.inl
recursive-include src/PY *.c *.h
recursive-include plugins/PY/pinpointPy *.py
recursive-exclude plugins/PY/pinpointPy *_test.py
global-exclude *test.py *.pyc Test*.py