[common]
AgentID=php_pinpoint
ApplicationName=PHPApplication

## collector ip address
CollectorSpanIp=x.x.x.x
CollectorSpanPort=xx
CollectorStatIp=x.x.x.x
CollectorStatPort=xx
CollectorTcpIp=x.x.x.x
CollectorTcpPort=xx

TraceLimit = -1
SkipTraceTime = -1
# DEBUG|INFO|WARNING|ERROR|STDERR
PPLogLevel = INFO
LogFileRootPath = /path where logger to/
# AgentType -> NGINX | APACHE |PHP |TEST
AgentType="NGINX"

# plugin
# PhpInternalFunctionsPlugin
PluginExclude = ExcludePlugin
PluginInclude = PhpRequestPlugin;QuickStartPlugin  ; PhpInternalFunctionsPlugin ;ExcludePlugin ;PDOPlugin;CurlPlugin;


[PHP]
PluginEntryFile=plugins_create.php
PluginRootDir=/path to /web/plugins/
;eg: PluginRootDir=/home/apps/php-7.1.0/pinpoint/web/php/plugins


