extension=pinpoint_php.so
# must be unix:(unix sock address)
pinpoint_php.CollectorHost=unix:/tmp/collector-agent.sock
pinpoint_php.SendSpanTimeOutMs=0 # 0 is recommanded
# request should be captured duing 1 second. <=0 means no limited
pinpoint_php.TraceLimit=0