name: build-wheels

on: [workflow_dispatch]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macOS-11]

    steps:
      - uses: actions/checkout@v4

      # Used to host cibuildwheel
      - uses: actions/setup-python@v3

      - name: set test version
        run: |
          rm setup.py
          ln -s setup_pypi_test.py setup.py

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.0

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        # to supply options, put them in 'env', like:
        # env:
        #   CIBW_SOME_OPTION: value

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  publish-pypitest:
    needs: build_wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with: 
          path: ./wheelhouse/

      - name: show all artifact
        run: |
          ls -al ./wheelhouse/artifact/
  
      - name: Publish package to pypitest
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.EELIUTEST }}
          packages_dir: ./wheelhouse/artifact  
          repository_url: https://test.pypi.org/legacy/  
